
body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 100%;
    max-width: 800px;
    margin-left:auto ;
    margin-right: auto;
    background-color: #f0f0f0;
    padding: 20px;
    
}

header{
    color: #ff6b6b;
    text-align: center;
    text-shadow:2px 2px #4ecdc4; ;
    font-size: 30px;
}
main{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;

}


footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    text-align: center;
}

/* コンマで同じCSSのものは同時に適用 */
#start_btn,#reset_btn {
    display: inline-block;
    background-color: #4ecdc4;
    box-shadow:0 4px 0 #46b8b0;
    /* ボタンの影 */
    color:#ffffff;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px 15px ;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

#start_btn:hover,#reset_btn:hover{
    background-color: #4ecdc4;
    transform: scale(1.05);
    /*拡張 */
}


#judgment{
    font-size: 30px;
}

#result{
    font-size: 30px;

}

#finalresult{
    background-color: #fff;
}

.rule {
    padding-bottom: 20px;
}

#timer{
   font-size: 30px; 
}
.computer_hand{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border:5px solid #46b8b0;
    border-radius: 50%;
    /* 丸にする */
    width: 230px;
    height: 230px;
    margin: 20px auto;

}

.computer_hand img {
    transition: all 0.3s ease-in-out;
  }

#hand {
    width:150px ;
    height: 150px;
    padding: 10px;
    transition: all 0.5s ease;
}

.hand-hidden {
    opacity: 0;
    transform: scale(0.5);
  }
  
  .hand-visible {
    opacity: 1;
    transform: scale(1);
  }

ul{
    padding: 0;
    display:flex;
    /* 子要素を横並びにしたいから */
    justify-content: space-around;
    /* 両端の余白＝子要素間の余白の半分 */
    margin-top: 30px;;
}
li{
    text-align: center;
    list-style-type:none;
    background-color: #ff8787;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

li img{
    width: 120px;
    height: 120px;
}

li:hover{
    transform: translateY(-5px);
    background-color: #ff6b6b;
  
}

#judgment{
    color: red;
    font-weight: bold;
}

/* ゲーム終了時の背景 */
.popup{

    /* 初期状態では非表示  */
    top: 0;
    left:0;
    position: fixed;
    /* 画面の表示領域全体をカバーできる スクロールも関係なし */
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* ほかの要素の上（重なり） */


}

.popup-content{
    position:absolute;
    /* 絶対値で配置 */
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    text-align: center;
    padding: 100px;
    border-radius: 50%;
    /* 円にする */
    border:solid, red ;
    
}

.popup p{
   font-size: 30px; 
}

#close-popup{
    border-bottom: 5px solid #9f000c;
    background-color: #9f000c;
    color:#fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100vh;
}

#close-popup:hover {
    margin-top: 3px;
    border-bottom: 2px solid #9f000c;
  }